/* Typography */
body {
    font-family: 'JetBrains Mono', Monaco, 'Courier New', Courier, monospace;
    background-color: #1a1b26;
    color: #e7ecf8;
    line-height: 1.6;
    margin: 0;
    padding: 2em;
    text-align: left;
  }
  
  h1, h2, h3, a {
    font-family: 'JetBrains Mono', Monaco, 'Courier New', Courier, monospace;
    color: #db4662;
    margin-bottom: 0.5em;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
/* Link styles */
a {
  padding: 0px 4px 0px 4px;
  font-weight: bold;
  color:#78ad3e; /* Link color */
  text-decoration: none; /* No underline by default */
  transition: color 0.3s ease; /* Smooth hover transition */
}
a:hover{
  color:#1a1b26; /* Link color */
  background-color:#78ad3e;
  text-decoration: none; /* No underline by default */
  transition: color 0.3s ease; /* Smooth hover transition */
}

/* Back button */
.button-back {
  display: inline-flex;
  align-items: center;
  gap: 0.4em; /* adjust spacing between icon and text */
  padding: 0px 4px 0px 4px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}
  
  /* Lists */
  ul, ol {
    padding-left: 20px;
    list-style: none;
  }
  
  ul li::before {
    content: '•';
    color: #f68f53;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  /* Inline Code and Preformatted Blocks */
  code {
    font-family: 'JetBrains Mono', Monaco, 'Courier New', Courier, monospace;
    background: #1a1b26;
    color: #ab85f2;
    padding: 2px 4px;
    border-radius: 3px;
  }
  
  pre {
    background: #1a1b26;
    color: #55bfd1;
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  /* General Layout */
  #markdown-content {
    max-width: 800px;
    margin: 0 auto;
  }